@import '../vars.scss';

.contact {
  width: 80%;
  margin-left: 10%;

  p {
    margin: 2rem 0;
  }

  form {
    text-align: left;

    input,
    textarea {
      width: 100%;
      background-color: $white;
      box-sizing: border-box;
      display: block;
      margin: 1rem 0;
      padding: 1rem;
    }
  }
}
