@import '../vars.scss';

.home {
  font-size: 5rem;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

  .triangle {
    position: fixed;
    bottom: 0;
    border-left: 50vw solid $white;
    border-right: 50vw solid $white;
    border-top: 100px solid $primary-color;
  }
}
