@import './vars.scss';

.App {
  text-align: center;
  background-color: $primary-color;
  font-family: $primary-font;
  color: $white;
  height: 100%;

  .palm {
    position: fixed;
    height: 200px;
    left: 2rem;
    bottom: 2rem;
  }
}
