/* COLOURS */
/* FONTS */
.App {
  text-align: center;
  background-color: #febcc8;
  font-family: "Raleway", sans-serif;
  color: #fff;
  height: 100%; }
  .App .palm {
    position: fixed;
    height: 150px;
    left: 2rem;
    bottom: 2rem; }
